<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% load static %}
</head>
<body>
<h2>{{title}}</h2>
<h2>{{books}}</h2>
<table border="1">
    <tr>
        <td>Book Name</td>
        <td>Subject</td>
        <td>Price</td>
        <td>Cover</td>
    </tr>
    {% for book in books %}
<tr>
        <td>{{book.bookname}}</td>
        <td>{{book.subject}}</td>
        <td>{{book.price}}</td>
        <td><img src="{% static 'DOtnet_ZrEn6JO.png' %}" alt="{{book.cover}}"></td>
    </tr>
    <br>
    {% endfor %}
</table>
</body>
</html>